#div-container-cart{
    width: 100%;
    height: 100%;
}

#div-description-cart{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
}

#div-description-cart > h1{
    color: silver;
}