/* Item.css */

/* Estilo do item */
.item {
    max-width: 1200px;
    min-width: 380px;
    margin: 20px 0; /* Remove margin auto para alinhar à esquerda */
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Garante que o conteúdo seja distribuído corretamente */
    border-top: 1px solid #ddd;
}

/* Contêiner dos detalhes do item */
.item-content {
    display: flex;
    align-items: center;
    width: 100%;
}

/* Dados do item */
.data-buy {
    margin-left: 10px;
    flex: 1;
}

/* Detalhes da caixa */
.box-details {
    display: flex;
    align-items: center;
}

/* Botões de quantidade */
.btn-quantity {
    margin: 0 5px;
    cursor: pointer;
}

/* Estilo do botão de quantidade ao passar o mouse */
.btn-quantity:hover {
    color: green;
}

/* Estilo do botão de remover */
.btn-remove {
    margin-left: auto;
    cursor: pointer;
}

/* Botão de remover desativado */
.btn-remove:disabled {
    color: gray;
    cursor: not-allowed;
}

/* Estilo do texto de quantidade */
.text-quantity {
    text-align: center;
    margin: auto 10px auto 0;
}

/* Linha de separação */
.line {
    width: 100%;
    border: 1px solid #eae9e9;
}
