#login-box {
    width: 100%;
    max-width: 400px; /* Mantém o tamanho máximo */
    margin: auto auto; /* Margem superior e centralização */
    padding: 40px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#login-box h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#login-box .input-wrapper {
    margin-bottom: 20px;
}

/* Remova os estilos de input e button que não são necessários
   Se os componentes Input e Button já têm estilos próprios */
